/* Contact.css */

.contact-container {
    background-color: rgba(44, 41, 41, 0.9); /* Slightly transparent dark background */
    color: #ffffff; /* Text color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Shadow for the container */
    text-align: center;
  }
  
  .contact-container h2 {
    font-size: 24px; /* Heading size */
    margin-bottom: 20px; /* Space below heading */
  }
  
  .contact-info {
    text-align: center; /* Align text to the left */
  }
  
  .contact-info p {
    margin-bottom: 10px; /* Space between paragraphs */
  }
  
  .contact-info p svg {
    margin-right: 10px; /* Space between icon and text */
  }
  
  .contact-info p:last-child {
    margin-bottom: 0; /* Remove bottom margin for last paragraph */
  }
  